.shelf {
  background-image: url("../assets/crop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100% ;
}

.books {
  background-repeat: no-repeat;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}
