.shelf {
  background-image: url("../assets/crop.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flow-root list-item;
  box-shadow:  black;
}
.row{
    padding: 60px;
}
.col {
  float: left;
  width: 30%;
  padding: 5px;
}

.books {
  height: 250px;
  width: 100%;
  padding: 1em;
}
