:root {
  --npo: #f58426;
  --npb: #003e7e;
  --maincolor: #80b4de;
  --concoursecolor: #cad08f;
  --groundcolor: #fecc83;
}


h1 {
  font-size: 24px;
}
body {
  /* background-image: url("../assets/backgroundimage5.jpg"); */
  min-height: 100%;
  color: white;
  
}
/* Seperator */
.seperator {
  max-width: 1400px;
  height: 5px;

  background-color: var(--npo);
  margin: 0 auto;
}

.main {
  
  /* border-bottom: 4px solid var(--npo); */
  border-radius: 5px;
  position: relative;

  margin: auto;
  height: auto;

  padding: 1em;

  



}

.darkmode {
  background-color: #121212;
}

.loginModal {
  margin-top: 4em !important;
}

.footer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navybar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}