:root {
  --npo: #f58426;
  --npb: #003e7e;
  --maincolor: #80b4de;
  --concoursecolor: #cad08f;
  --groundcolor: #fecc83;
}

h1 {
  font-size: 24px;
}
body {
  /* background-image: url("../assets/backgroundimage5.jpg"); */
  
  color: white;
}
/* Seperator */
.seperator {
  max-width: 1400px;
  height: 5px;

  background-color: var(--npo);
  margin: 0 auto;
}

.main {
  margin-top: 0;
 
  /* border-bottom: 4px solid var(--npo); */
  border-radius: 5px;


}

.darkmode {
  background-color: #121212;
}
