nav {
  background-color: var(--npb);
}

.nav-link {
  color: white !important;
  padding: 0 1em !important;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--npo) !important;
}


.heady {
  font-size: large;
}

.navbar-collapse {
  flex-grow: unset;
}
