:root {
  --npo: #f58426;
  --npb: #003e7e;
}
h1 {
  font-size: 24px;
  
}
body {
  background-color: var(--npb);
}

.seperator {
  width: auto;
  height: 5px;
  background-color: var(--npo);
  margin: 1em auto;
}

.nplogo {
  max-width: 40%;
  height: auto;
}
/* TOP */
